name: Build on tag

on:
  push:
    tags:
      - "v*" 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            pkg-config \
            libasound2-dev \
            libgl1-mesa-dev \
            libglfw3-dev \
            xorg-dev \
            gcc-mingw-w64-x86-64

      - name: Set up environment
        uses: actions/setup-go@v5
        with:
          go-version: ' 1.25.4'
      
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}