name: Build on tag

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up environment
        uses: actions/setup-go@v5
        with:
          go-version: ' 1.25.4'
      
      - name: Install dependencies
        run: make deps

      - name: Build binaries
        run: make build